NODE_ENV=development
PORT=4000

MONGO_URI=mongodb://127.0.0.1:27017/chat_app
JWT_SECRET=replace_with_long_random_secret

FRONTEND_URL=http://localhost:5173
BACKEND_URL=http://localhost:4000

SENDGRID_API_KEY=replace_with_sendgrid_key
SENDGRID_FROM_EMAIL=no-reply@example.com
SENDGRID_FROM_NAME=ChatApplication

CLOUDINARY_CLOUD_NAME=replace_with_cloud_name
CLOUDINARY_API_KEY=replace_with_cloudinary_key
CLOUDINARY_API_SECRET=replace_with_cloudinary_secret

ARCJET_KEY=replace_with_arcjet_key
